# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*
/src/pages/*/*.js.*
/src/pages/*/*.js
.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
$RECYCLE.BIN/
screenshots/*

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
../backend/GoOut-Backend/.classpath
../backend/GoOut-Backend/.settings/org.eclipse.wst.common.project.facet.core.xml
../backend/Servers/.settings/org.eclipse.wst.server.core.prefs
../backend/GoOut-Backend/TestServer.java